<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        
        
<!--         LOCAL MySql-->
<!--         
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/jhopkins</property>
        <property name="connection.username">diego</property>
        <property name="connection.password">manzana</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
--> 
		
		<!-- ORACLE  -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>	
		<property name="connection.url">jdbc:oracle:thin:@192.168.7.25:1521/XE</property>
        <property name="connection.username">openice</property>
        <property name="connection.password">openice</property>
        <!-- <property name=”hibernate.default_schema”>openice</property>   -->
        
        <!-- <property name=”hibernate.dialect”>org.hibernate.dialect.OracleDialect</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>


<!--   <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>  -->
<!--   <property name="connection.url">jdbc:hsqldb:hsql://localhost</property>  -->
<!--   <property name="connection.username">sa</property>  -->
<!--   <property name="connection.password" />  -->
<!--   <property name="dialect">org.hibernate.dialect.HSQLDialect</property> -->


        <!-- JDBC connection pool (use the built-in) -->
        <!-- <property name="connection.pool_size">1</property> -->

        <!-- SQL dialects -->
        <!-- HIBERNATE DOCUMENTATION FOR DIALECTS
        http://docs.jboss.org/hibernate/orm/3.6/reference/en-US/html/session-configuration.html#configuration-optional-dialects] -->

<!-- 		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>  -->

        <property name="jdbc.batch_size">1000</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout (Enable the logging of all the generated SQL statements to the console) -->
        <property name="show_sql">true</property>
        
<!--         Format the generated SQL statement to make it more readable, but takes up more screen space -->
        <property name="format_sql">true</property>
        
<!--         Hibernate will put comments inside all generated SQL statements to hint what’s the generated SQL trying to do -->
        <property name="use_sql_comments">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- C3P0 connection pool -->
        <property name="hibernate.c3p0.timeout">600</property>
        <property name="hibernate.c3p0.maxIdleTimeExcessConnections">20</property>

        <!--  Connection testing settings -->
        <property name="hibernate.c3p0.validate">false</property>
        <property name="hibernate.c3p0.idle_test_period">30</property>
        <property name="hibernate.c3p0.automaticTestTable">conTestTable</property>
        
		<!-- List of mapping resources -->
		<!--  VitalValues.hbm.xml links to the VitalValuesDTO, which uses a mapping file-->
        <mapping resource="org/mdpnp/hiberdds/mappings/VitalValues.hbm.xml"/>
        
        <!-- The VitalVAlues class uses annotations -->
        <mapping class="org.mdpnp.hiberdds.mappings.VitalValues"/>
        
        <mapping class="org.mdpnp.hiberdds.mappings.Numeric"/>
        <mapping class="org.mdpnp.hiberdds.mappings.NumericLifeCycle"/>
        <mapping class="org.mdpnp.hiberdds.mappings.NumericSample"/>
        
        <!-- AS per http://stackoverflow.com/a/2155618 -->
        <!-- <property name="hibernate.jdbc.use_get_generated_keys">true</property> -->

    </session-factory>

</hibernate-configuration>
